
::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
}

html {
  height: 100%;
  font-size: var(--font-size);
  scrollbar-width: none; /*firefox*/
  -ms-overflow-style: none; /* Hide scrollbar for IE/Edge legacy */
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  will-change: scroll-snap-type;
  overflow-y: auto;
}

html,
body {
  max-width: 100vw;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
  color: hsl(var(--font-hsl));
  background: hsl(var(--bg-hsl));
  /* -webkit-font-smoothing: antialiased; */
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-family: var(--sec-font);
  font-size: var(--h1);
  line-height: var(--h1-line-height);
  font-weight:normal;
}

h2 {
  font-size: var(--p);
  line-height: var(--p-line-height);
  font-weight:normal;
  font-variant-caps: all-small-caps;
}

p {
  font-size: var(--p);
  line-height: var(--p-line-height);
  white-space: pre-wrap;
}

small {
  display: inline-block;
  font-size: var(--s);
  line-height: var(--small-line-height);
  text-transform: uppercase;
}

header {
  width: inherit;
  margin: var(--mar);
  position: fixed;
  z-index: var(--nav-z);
}

main {
  margin: 0 var(--mar) 0;
  height: 100%;
}

footer {
    margin-top: var(--section-mar);
    padding-bottom: var(--top-mar);
    scroll-snap-align: end;
}

.photolink {
  width: calc(75% - 0.5 * var(--gap));
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-top: var(--top-mar);
  border-top: 1px solid hsl(var(--p-hsl));
  font-variant-caps: all-small-caps;
}

.slogan,
.number {
  font-variant-caps: all-small-caps;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr)); 
    align-items: baseline;
    gap: var(--gap);
}

/**
* tablet responsive
*/
@media only screen and (min-width: 768px)  {

  main {
    margin: var(--mar);
  }
  
  .grid {
    grid-template-columns: repeat(6, minmax(0, 1fr)); 
  }
  
  footer {
    width: calc(50vw - var(--mar));
    position: absolute;
    bottom: var(--mar);
    right: var(--mar);
    display: flex;
    padding-bottom: 0;
  }
  
  .photolink {
    width: calc((100% - 5* var(--gap))/6*2);
    margin-top: 0;
  }
}

/**
* desktop responsive
*/
@media only screen and (min-width: 992px) {
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: light) {
  /* p, h1 {
    mix-blend-mode: difference;
  } */
}